/* ANCHOR GENERALE */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}
.ps_pos{
    padding-left: 3vw;
}
/* ANCHOR NAVBAR */
.navbar-light .navbar-nav .nav-link{
    color: black;
}
.ps_borderradius{
    border-radius: 30px;    
}
/* ANCHOR SECTION ONE */
.ps_jumbo_returnal{
    margin-top: 80px;
    padding-left: 7vw;
    padding-bottom: 2vh;
    background-image: url(../img/returnal-listing-thumb-01-ps5.jpg);
    color: white;    
    height: 80vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.ps_bg_red{
    background-color: red;   
}
/* ANCHOR SECTION TWO */
    /* IMG PREVIEW */
.ps_90vw_center{
    width: 90vw;
    margin: 0 auto;
}
    /* ECCO LA PS5 */
.ps_margin_40{
    margin-top: 50px;
} 
.ps_bg_blue{
    background-color: blue;
}
    /* IT TAKES TWO */
.ps_itt{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 70vh;
    color: white;
    margin-top: 150PX;
}
    /* NUOVE USCITE */
.ps_new_bgc{
    background-color: rgba(31,31,31,255);
    color: white;
}
.ps_w_p{
    max-width: 100%;
    padding: 5%;
}