/* da eliminare */
body{
    background-color: aquamarine;
}

/* ANCHOR GENERALE */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}
/* ANCHOR NAVBAR */
.navbar-light .navbar-nav .nav-link{
    color: black;
}
.ps_borderradius{
    border-radius: 30px;    
}
/* ANCHOR SECTION ONE */
.ps_jumbo_returnal{
    margin-top: 80px;
    padding-left: 7vw;
    padding-bottom: 2vh;
    background-image: url(../img/returnal-listing-thumb-01-ps5.jpg);
    color: white;
    width: 100vw;
    height: 80vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.ps_bg_red{
    background-color: red;   
}

.preview{
    width: calc( (100% / 6) - 20px);
    margin: 10px;
    
}
.preview > img{
    width: 100%;
} 
.aa{
    width: 100vw;
    
}
